<div *ngIf='watchs.length>0'>
    <ul class="unstyled-list" *ngFor='let watch of watchs'>
        <li>{{watch.title}}</li>
        <li>{{watch.price}}</li>
        <li>{{watch.quantity}}</li>
        <li><button class="btn-outline-danger btn-sm fa fa-trash" (click)='excluirWatch(watch.id)'></button></li>
        <li><button class="btn-outline-warning btn-sm fa fa-edit" (click)='editarWatch(watch)'></button></li>
    </ul>
</div>
<button class="btn-outline-primary fa fa-plus"(click)='adicionarWatch()'>Adicionar</button>